* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  font-size: 18px;
  background-color: #f5f6f7;
}

h1 {
  max-width: 940px;
  font-size: 2.5em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

.logo-contenedor{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
} 

.logo{
  width: 350px;
	height: 250px;

}

.contenedor-principal {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contenedor-calculadora{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}